@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');

* {
  font-family: 'Overpass', sans-serif;
}

html {
  background-color: #e1faf9;
}

.navbar {
  color: white;
  background-color: #023C40;
  font-size: 1.5rem;

}

.accordion .acc-link {
  text-decoration: none;
  color: black;
}

.all-nav-items {
  display: flex;
  justify-content: space-evenly;
}

div.container {
  width: 100%;
  display: flex;
}

.signup-button, .logout-button {
  color: #4b6f64!important;
  background-color: #b8d0c9!important;
  padding: 0.5rem 1rem 0.5rem 1rem!important;
  font-size: 1rem!important;
  border-radius: 0.5rem!important;
  text-decoration: none!important;
}

.dropdown a {
  color: white;
}

.home-body {
  background-color: #e1faf9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.accordion-standard {
  color: white;
  background-color: #639183;
  font-size: 1rem!important;
  border-radius: 0.5rem;
  text-decoration: none;
}

#root .bg-primary {
  --bs-bg-opacity: 1;
  background-color: #e1faf9!important;
}

.accordion-item {
  background-color: #639183;
  border: none!important;
}

.footer {
  background-color: #023C40;
  position: absolute;
  bottom: 0;
}

button.btn.btn-primary {
  transition: none!important;
}

.btn-primary, .exercise-guide-btn, .accordion-button, .login-button, .profile-button {
  color: white!important;
  background-color: #639183!important;
  padding: 0.5rem 1rem 0.5rem 1rem!important;
  font-size: 1rem!important;
  border-radius: 0.5rem!important;
  text-decoration: none!important;
}

.create-workout-button, .exercise-guide-button {
  color: white!important;
  background-color: #639183!important;
  font-size: 1rem!important;
  border-radius: 0.5rem!important;
  text-decoration: none!important;
}

.exercise-guide-btn {
  padding-left: 0px!important;
}

.dropdown a:hover {
  color: rgb(199, 199, 199)!important;
}